In [1]:
library(tidyverse)
library(magrittr)
library(DT)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract

modeldata pack installed

In [2]:
library(modeldata)

select operation

In [3]:
stackoverflow %>% select(Hobby)

     Hobby
1    1
2    1
3    1
4    0
5    1
6    1
7    1
8    0
9    1
10   1
11   0
12   0
13   1
14   0
15   1
16   0
17   1
18   1
19   1
20   1
21   0
22   1
23   1
24   0
25   1
26   1
27   0
28   0
29   1
30   1
⋮    ⋮
5565 1
5566 1
5567 0
5568 0
5569 0
5570 1
5571 0
5572 1
5573 1
5574 1
5575 1
5576 1
5577 1
5578 0
5579 0
5580 1
5581 1
5582 0
5583 1
5584 0
5585 1
5586 1
5587 0
5588 1
5589 1
5590 1
5591 1
5592 1
5593 1
5594 1

my second table for the purpose of using left join operation

In [4]:
stackoverflow2 <- stackoverflow %>% select(Country , Remote , CareerSatisfaction)

filter operation

In [5]:
stackoverflow %>% filter(Hobby == 1)

     Country        Salary     YearsCodedJob OpenSource Hobby CompanySizeNumber
1    United Kingdom 100000.000 20            0          1      5000
2    United States  130000.000 20            1          1      1000
3    United States  175000.000 16            0          1     10000
4    India            6636.324  1            0          1      5000
5    United States   65000.000  1            0          1        20
6    United States  110000.000 13            0          1        20
7    United States  109400.000  7            1          1        20
8    Germany         83870.968 17            1          1        20
9    United Kingdom  30000.000  1            0          1        20
10   United States  115000.000  4            0          1     10000
11   United States   92500.000 14            1          1       100
12   United Kingdom  32500.000  2            0          1        10
13   United Kingdom  43750.000  1            1          1         1
14   United Kingdom 113750.000 20            1          1        20
15   United States  100000.000 14            0          1        20
16   United States  120000.000  4            0          1        20
17   India            6606.959  1            1          1     10000
18   Germany         10752.688  1            0          1        10
19   United States   50000.000 15            1          1         1
20   United States   50000.000  2            1          1        10
21   United States  160000.000 11            1          1       500
22   United States   63000.000  6            0          1        20
23   United States   67000.000  6            0          1      1000
24   United States  103000.000 15            1          1       500
25   United States   65000.000  2            0          1      5000
26   United Kingdom  63750.000 17            0          1       500
27   United States  170000.000 18            0          1     10000
28   Canada          81060.606 17            1          1      1000
29   United Kingdom  77500.000 10            0          1       100
30   United States   97000.000  9            0          1       100
⋮    ⋮              ⋮          ⋮             ⋮          ⋮     ⋮
4229 United States   88000.000  9            0          1        20
4230 United States  143000.000 20            1          1     10000
4231 United States  125000.000  7            1          1        20
4232 United Kingdom  48750.000 10            0          1     10000
4233 United Kingdom  36250.000  4            0          1       100
4234 United Kingdom  58750.000  7            0          1        20
4235 India           11745.705  1            1          1       500
4236 United Kingdom  55000.000  6            1          1         1
4237 United States  110000.000 12            0          1       500
4238 United States   80250.000  3            1          1      1000
4239 United States   76000.000 20            1          1      1000
4240 India           15416.238  5            1          1       100
4241 Germany         48387.097  4            0          1     10000
4242 United States  110000.000 20            0          1      1000
4243 India            7634.709  2            0          1       500
4244 Germany         69892.473  3            0          1         1
4245 United Kingdom  53750.000 11            0          1       100
4246 United States   80000.000  5            1          1     10000
4247 Germany         41935.484  1            0          1        20
4248 United Kingdom  43750.000  3            1          1      1000
4249 United States  165000.000 19            1          1      1000
4250 United States   52000.000  1            1          1       100
4251 United States   50000.000  1            0          1         1
4252 United States  140000.000 10            1          1     10000
4253 India            4404.640  5            0          1         1
4254 United Kingdom  88750.000  8            0          1      1000
4255 India            6460.138  2            0          1     10000
4256 India            4228.454  2            0          1         1
4257 United Kingdom  33750.000  1            1          1       100
4258 United States   40000.000  3            0          1         1
     Remote     CareerSatisfaction Data_scientist Database_administrator ⋯
1    Remote      8                 0              0                      ⋯
2    Remote      9                 0              0                      ⋯
3    Not remote  7                 0              0                      ⋯
4    Not remote  5                 0              0                      ⋯
5    Not remote  8                 0              0                      ⋯
6    Not remote  7                 0              0                      ⋯
7    Not remote  8                 0              0                      ⋯
8    Not remote  9                 0              0                      ⋯
9    Not remote  5                 0              0                      ⋯
10   Not remote  7                 0              0                      ⋯
11   Not remote  8                 0              0                      ⋯
12   Not remote  8                 0              0                      ⋯
13   Not remote  5                 1              1                      ⋯
14   Not remote  9                 0              0                      ⋯
15   Not remote  7                 0              1                      ⋯
16   Not remote 10                 0              1                      ⋯
17   Not remote  8                 0              0                      ⋯
18   Not remote  8                 0              0                      ⋯
19   Remote     10                 0              1                      ⋯
20   Not remote  4                 0              1                      ⋯
21   Remote      7                 0              0                      ⋯
22   Not remote  8                 0              0                      ⋯
23   Not remote  8                 0              0                      ⋯
24   Remote      8                 0              1                      ⋯
25   Not remote  8                 0              0                      ⋯
26   Not remote  5                 0              0                      ⋯
27   Remote      3                 0              0                      ⋯
28   Not remote  8                 0              0                      ⋯
29   Not remote  6                 0              0                      ⋯
30   Remote      5                 0              0                      ⋯
⋮    ⋮          ⋮                  ⋮              ⋮                      ⋱
4229 Not remote  5                 0              0                      ⋯
4230 Not remote  8                 0              0                      ⋯
4231 Not remote  7                 0              0                      ⋯
4232 Not remote  7                 0              0                      ⋯
4233 Not remote  7                 0              0                      ⋯
4234 Not remote  6                 0              0                      ⋯
4235 Not remote  7                 0              1                      ⋯
4236 Remote      7                 0              0                      ⋯
4237 Not remote  9                 0              0                      ⋯
4238 Not remote 10                 0              0                      ⋯
4239 Not remote  8                 0              0                      ⋯
4240 Remote      6                 1              1                      ⋯
4241 Not remote  5                 0              0                      ⋯
4242 Remote      8                 0              0                      ⋯
4243 Not remote  6                 1              0                      ⋯
4244 Remote      7                 0              0                      ⋯
4245 Not remote  6                 0              0                      ⋯
4246 Not remote  8                 0              1                      ⋯
4247 Not remote  7                 0              0                      ⋯
4248 Not remote  9                 0              0                      ⋯
4249 Not remote 10                 0              0                      ⋯
4250 Not remote  7                 0              0                      ⋯
4251 Not remote  7                 0              1                      ⋯
4252 Not remote  6                 0              0                      ⋯
4253 Not remote  8                 0              0                      ⋯
4254 Not remote  8                 0              0                      ⋯
4255 Not remote  6                 0              0                      ⋯
4256 Not remote 10                 0              0                      ⋯
4257 Not remote  6                 0              0                      ⋯
4258 Not remote  6                 0              0                      ⋯
     Developer_with_stats_math_background DevOps Embedded_developer
1    0                                    0      1
2    0                                    1      1
3    0                                    0      0
4    0                                    0      0
5    0                                    0      0
6    0                                    0      0
7    0                                    0      0
8    1                                    0      0
9    0                                    0      0
10   0                                    0      0
11   0                                    1      0
12   0                                    0      0
13   1                                    0      0
14   0                                    1      0
15   0                                    1      0
16   1                                    1      0
17   0                                    0      0
18   0                                    0      1
19   0                                    0      0
20   0                                    0      0
21   0                                    0      0
22   0                                    0      0
23   0                                    0      1
24   0                                    0      0
25   0                                    0      0
26   0                                    1      0
27   0                                    0      0
28   1                                    0      0
29   0                                    0      0
30   0                                    0      0
⋮    ⋮                                    ⋮      ⋮
4229 0                                    0      0
4230 1                                    1      1
4231 0                                    0      0
4232 0                                    0      0
4233 0                                    0      0
4234 0                                    0      0
4235 1                                    1      0
4236 0                                    1      0
4237 0                                    0      0
4238 0                                    0      0
4239 0                                    0      0
4240 0                                    0      0
4241 1                                    0      0
4242 0                                    0      0
4243 0                                    0      0
4244 0                                    0      0
4245 0                                    1      0
4246 0                                    0      1
4247 0                                    0      0
4248 0                                    0      0
4249 0                                    0      1
4250 0                                    0      0
4251 0                                    0      0
4252 1                                    0      0
4253 0                                    0      0
4254 0                                    0      0
4255 0                                    1      0
4256 0                                    0      0
4257 0                                    0      0
4258 0                                    0      0
     Graphic_designer Graphics_programming Machine_learning_specialist
1    0                0                    0
2    0                0                    0
3    0                0                    0
4    0                0                    0
5    0                0                    0
6    0                0                    0
7    0                0                    0
8    0                0                    0
9    0                0                    0
10   0                0                    0
11   0                0                    0
12   0                0                    0
13   1                1                    0
14   0                0                    0
15   0                0                    0
16   0                0                    0
17   0                0                    0
18   0                0                    0
19   0                0                    0
20   0                0                    0
21   0                0                    0
22   0                0                    0
23   0                0                    0
24   0                0                    0
25   0                0                    0
26   0                0                    0
27   0                0                    0
28   0                0                    0
29   0                0                    0
30   0                0                    0
⋮    ⋮                ⋮                    ⋮
4229 1                0                    0
4230 0                1                    0
4231 0                0                    0
4232 0                0                    0
4233 1                0                    0
4234 0                0                    0
4235 0                1                    0
4236 0                0                    0
4237 0                0                    0
4238 0                0                    0
4239 0                0                    0
4240 0                0                    0
4241 0                0                    0
4242 0                0                    0
4243 0                0                    0
4244 0                0                    0
4245 0                0                    0
4246 0                0                    0
4247 0                0                    0
4248 0                0                    0
4249 0                0                    0
4250 0                0                    0
4251 0                0                    0
4252 0                0                    0
4253 0                0                    0
4254 0                0                    0
4255 0                0                    0
4256 0                0                    0
4257 0                0                    0
4258 0                0                    0
     Mobile_developer Quality_assurance_engineer Systems_administrator
1    0                0                          0
2    0                1                          0
3    0                0                          0
4    0                0                          0
5    0                0                          0
6    0                0                          0
7    1                0                          0
8    0                0                          0
9    0                0                          0
10   0                0                          0
11   0                0                          0
12   0                0                          0
13   0                0                          0
14   1                0                          0
15   0                0                          1
16   1                0                          1
17   0                0                          0
18   0                0                          1
19   0                0                          1
20   1                0                          0
21   0                0                          0
22   0                0                          0
23   0                0                          0
24   0                0                          0
25   0                0                          0
26   0                0                          0
27   0                0                          0
28   0                0                          0
29   0                0                          0
30   0                0                          0
⋮    ⋮                ⋮                          ⋮
4229 0                0                          0
4230 1                0                          0
4231 0                0                          0
4232 0                0                          0
4233 1                0                          1
4234 0                0                          0
4235 0                0                          1
4236 0                0                          0
4237 0                0                          0
4238 1                0                          0
4239 0                0                          0
4240 1                0                          0
4241 0                0                          0
4242 0                0                          0
4243 0                0                          0
4244 0                0                          0
4245 1                0                          0
4246 0                0                          0
4247 0                0                          0
4248 0                0                          0
4249 0                0                          0
4250 0                0                          0
4251 0                0                          1
4252 0                0                          0
4253 0                0                          0
4254 0                0                          0
4255 0                0                          0
4256 1                0                          0
4257 0                0                          0
4258 1                0                          0
     Web_developer
1    0
2    1
3    1
4    1
5    1
6    1
7    0
8    0
9    0
10   0
11   1
12   1
13   1
14   1
15   1
16   1
17   1
18   1
19   1
20   1
21   1
22   1
23   0
24   0
25   1
26   1
27   1
28   0
29   1
30   1
⋮    ⋮
4229 1
4230 1
4231 1
4232 1
4233 1
4234 1
4235 1
4236 1
4237 0
4238 1
4239 1
4240 1
4241 1
4242 1
4243 0
4244 1
4245 1
4246 1
4247 1
4248 1
4249 0
4250 1
4251 1
4252 0
4253 1
4254 1
4255 0
4256 0
4257 1
4258 1

mutation operation

In [6]:
stackoverflow %<>% mutate( salaryearsratio = Salary / Hobby )

summarise operation

In [7]:
stackoverflow %>%  summarise( minratio = min(salaryearsratio))

  minratio
1 1136.364

group_by operation

In [8]:
stackoverflow %>% group_by(Hobby , YearsCodedJob)  %>% summarise( minratio = min(salaryearsratio))

`summarise()` has grouped output by 'Hobby'. You can override using the
`.groups` argument.

   Hobby YearsCodedJob minratio
1  0      0                  Inf
2  0      1                  Inf
3  0      2                  Inf
4  0      3                  Inf
5  0      4                  Inf
6  0      5                  Inf
7  0      6                  Inf
8  0      7                  Inf
9  0      8                  Inf
10 0      9                  Inf
11 0     10                  Inf
12 0     11                  Inf
13 0     12                  Inf
14 0     13                  Inf
15 0     14                  Inf
16 0     15                  Inf
17 0     16                  Inf
18 0     17                  Inf
19 0     18                  Inf
20 0     19                  Inf
21 0     20                  Inf
22 1      0             1233.299
23 1      1             1174.571
24 1      2             1409.485
25 1      3             1989.247
26 1      4             1136.364
27 1      5             2150.538
28 1      6             1174.571
29 1      7             2466.598
30 1      8             2903.226
31 1      9             3440.860
32 1     10            11745.705
33 1     11             2642.784
34 1     12            28630.157
35 1     13            37878.788
36 1     14             3333.333
37 1     15            34946.237
38 1     16             2936.426
39 1     17             9090.909
40 1     18             5872.853
41 1     19            16150.345
42 1     20             3171.340

useful table for purpose of using pivot wider laterly.

In [9]:
stat_salary <- stackoverflow %>%
group_by(Country, Salary) %>%
summarise(max_salary = max(Salary, na.rm = T),
          min_salary = min(Salary, na.rm = T),
          av_salary = mean(Salary, na.rm = T))

`summarise()` has grouped output by 'Country'. You can override using the
`.groups` argument.

pivot wider operation

In [10]:
stat_salary_wide <- stat_salary %>% pivot_wider(id_cols = Country, names_from = Salary, values_from = av_salary)

pivot wider output

In [11]:
stat_salary_wide

  Country        9090.90909090909 14393.9393939394 20681.8181818182
1 Canada         9090.909         14393.94         20681.82
2 Germany              NA               NA               NA
3 India                NA               NA               NA
4 United Kingdom       NA               NA               NA
5 United States        NA               NA               NA
  21212.1212121212 22727.2727272727 26515.1515151515 27272.7272727273
1 21212.12         22727.27         26515.15         27272.73
2       NA               NA               NA               NA
3       NA               NA               NA               NA
4       NA               NA               NA               NA
5       NA               NA               NA               NA
  27651.5151515152 28787.8787878788 ⋯ 178000 180000 185000 187500 188000 190000
1 27651.52         28787.88         ⋯     NA     NA     NA     NA     NA     NA
2       NA               NA         ⋯     NA     NA     NA     NA     NA     NA
3       NA               NA         ⋯     NA     NA     NA     NA     NA     NA
4       NA               NA         ⋯     NA     NA     NA     NA     NA     NA
5       NA               NA         ⋯ 178000 180000 185000 187500 188000 190000
  192000 194000 195000 197000
1     NA     NA     NA     NA
2     NA     NA     NA     NA
3     NA     NA     NA     NA
4     NA     NA     NA     NA
5 192000 194000 195000 197000

pivot longer operation

In [12]:
stat_salary_wide %>% pivot_longer(cols = -"Country", names_to = "Salary", values_to = "av_salary", values_drop_na = T)

     Country       Salary           av_salary
1    Canada        9090.90909090909  9090.909
2    Canada        14393.9393939394 14393.939
3    Canada        20681.8181818182 20681.818
4    Canada        21212.1212121212 21212.121
5    Canada        22727.2727272727 22727.273
6    Canada        26515.1515151515 26515.152
7    Canada        27272.7272727273 27272.727
8    Canada        27651.5151515152 27651.515
9    Canada        28787.8787878788 28787.879
10   Canada        29545.4545454545 29545.455
11   Canada        30303.0303030303 30303.030
12   Canada        31060.6060606061 31060.606
13   Canada        31818.1818181818 31818.182
14   Canada        32196.9696969697 32196.970
15   Canada        32954.5454545455 32954.545
16   Canada        33621.2121212121 33621.212
17   Canada        34090.9090909091 34090.909
18   Canada        34469.696969697  34469.697
19   Canada        35454.5454545455 35454.545
20   Canada        35606.0606060606 35606.061
21   Canada        36363.6363636364 36363.636
22   Canada        37878.7878787879 37878.788
23   Canada        38484.8484848485 38484.848
24   Canada        38863.6363636364 38863.636
25   Canada        39393.9393939394 39393.939
26   Canada        39772.7272727273 39772.727
27   Canada        40151.5151515152 40151.515
28   Canada        40909.0909090909 40909.091
29   Canada        41666.6666666667 41666.667
30   Canada        41893.9393939394 41893.939
⋮    ⋮             ⋮                ⋮
1026 United States 157000           157000
1027 United States 158000           158000
1028 United States 158100           158100
1029 United States 159000           159000
1030 United States 160000           160000
1031 United States 162000           162000
1032 United States 163000           163000
1033 United States 164000           164000
1034 United States 165000           165000
1035 United States 166500           166500
1036 United States 167000           167000
1037 United States 168000           168000
1038 United States 170000           170000
1039 United States 171000           171000
1040 United States 172000           172000
1041 United States 172300           172300
1042 United States 173000           173000
1043 United States 173300           173300
1044 United States 174000           174000
1045 United States 175000           175000
1046 United States 178000           178000
1047 United States 180000           180000
1048 United States 185000           185000
1049 United States 187500           187500
1050 United States 188000           188000
1051 United States 190000           190000
1052 United States 192000           192000
1053 United States 194000           194000
1054 United States 195000           195000
1055 United States 197000           197000

left join operation and its output

In [13]:
stackoverflow %<>% select(-Remote , -CareerSatisfaction) %>% left_join(stackoverflow2, by = "Country")
stackoverflow

Warning message in left_join(., stackoverflow2, by = "Country"):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 1 of `x` matches multiple rows in `y`.
ℹ Row 2 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

        Country        Salary YearsCodedJob OpenSource Hobby CompanySizeNumber
1       United Kingdom 1e+05  20            0          1     5000
2       United Kingdom 1e+05  20            0          1     5000
3       United Kingdom 1e+05  20            0          1     5000
4       United Kingdom 1e+05  20            0          1     5000
5       United Kingdom 1e+05  20            0          1     5000
6       United Kingdom 1e+05  20            0          1     5000
7       United Kingdom 1e+05  20            0          1     5000
8       United Kingdom 1e+05  20            0          1     5000
9       United Kingdom 1e+05  20            0          1     5000
10      United Kingdom 1e+05  20            0          1     5000
11      United Kingdom 1e+05  20            0          1     5000
12      United Kingdom 1e+05  20            0          1     5000
13      United Kingdom 1e+05  20            0          1     5000
14      United Kingdom 1e+05  20            0          1     5000
15      United Kingdom 1e+05  20            0          1     5000
16      United Kingdom 1e+05  20            0          1     5000
17      United Kingdom 1e+05  20            0          1     5000
18      United Kingdom 1e+05  20            0          1     5000
19      United Kingdom 1e+05  20            0          1     5000
20      United Kingdom 1e+05  20            0          1     5000
21      United Kingdom 1e+05  20            0          1     5000
22      United Kingdom 1e+05  20            0          1     5000
23      United Kingdom 1e+05  20            0          1     5000
24      United Kingdom 1e+05  20            0          1     5000
25      United Kingdom 1e+05  20            0          1     5000
26      United Kingdom 1e+05  20            0          1     5000
27      United Kingdom 1e+05  20            0          1     5000
28      United Kingdom 1e+05  20            0          1     5000
29      United Kingdom 1e+05  20            0          1     5000
30      United Kingdom 1e+05  20            0          1     5000
⋮       ⋮              ⋮      ⋮             ⋮          ⋮     ⋮
9933899 United States  40000  3             0          1     1
9933900 United States  40000  3             0          1     1
9933901 United States  40000  3             0          1     1
9933902 United States  40000  3             0          1     1
9933903 United States  40000  3             0          1     1
9933904 United States  40000  3             0          1     1
9933905 United States  40000  3             0          1     1
9933906 United States  40000  3             0          1     1
9933907 United States  40000  3             0          1     1
9933908 United States  40000  3             0          1     1
9933909 United States  40000  3             0          1     1
9933910 United States  40000  3             0          1     1
9933911 United States  40000  3             0          1     1
9933912 United States  40000  3             0          1     1
9933913 United States  40000  3             0          1     1
9933914 United States  40000  3             0          1     1
9933915 United States  40000  3             0          1     1
9933916 United States  40000  3             0          1     1
9933917 United States  40000  3             0          1     1
9933918 United States  40000  3             0          1     1
9933919 United States  40000  3             0          1     1
9933920 United States  40000  3             0          1     1
9933921 United States  40000  3             0          1     1
9933922 United States  40000  3             0          1     1
9933923 United States  40000  3             0          1     1
9933924 United States  40000  3             0          1     1
9933925 United States  40000  3             0          1     1
9933926 United States  40000  3             0          1     1
9933927 United States  40000  3             0          1     1
9933928 United States  40000  3             0          1     1
        Data_scientist Database_administrator Desktop_applications_developer
1       0              0                      0
2       0              0                      0
3       0              0                      0
4       0              0                      0
5       0              0                      0
6       0              0                      0
7       0              0                      0
8       0              0                      0
9       0              0                      0
10      0              0                      0
11      0              0                      0
12      0              0                      0
13      0              0                      0
14      0              0                      0
15      0              0                      0
16      0              0                      0
17      0              0                      0
18      0              0                      0
19      0              0                      0
20      0              0                      0
21      0              0                      0
22      0              0                      0
23      0              0                      0
24      0              0                      0
25      0              0                      0
26      0              0                      0
27      0              0                      0
28      0              0                      0
29      0              0                      0
30      0              0                      0
⋮       ⋮              ⋮                      ⋮
9933899 0              0                      0
9933900 0              0                      0
9933901 0              0                      0
9933902 0              0                      0
9933903 0              0                      0
9933904 0              0                      0
9933905 0              0                      0
9933906 0              0                      0
9933907 0              0                      0
9933908 0              0                      0
9933909 0              0                      0
9933910 0              0                      0
9933911 0              0                      0
9933912 0              0                      0
9933913 0              0                      0
9933914 0              0                      0
9933915 0              0                      0
9933916 0              0                      0
9933917 0              0                      0
9933918 0              0                      0
9933919 0              0                      0
9933920 0              0                      0
9933921 0              0                      0
9933922 0              0                      0
9933923 0              0                      0
9933924 0              0                      0
9933925 0              0                      0
9933926 0              0                      0
9933927 0              0                      0
9933928 0              0                      0
        Developer_with_stats_math_background ⋯ Graphic_designer
1       0                                    ⋯ 0
2       0                                    ⋯ 0
3       0                                    ⋯ 0
4       0                                    ⋯ 0
5       0                                    ⋯ 0
6       0                                    ⋯ 0
7       0                                    ⋯ 0
8       0                                    ⋯ 0
9       0                                    ⋯ 0
10      0                                    ⋯ 0
11      0                                    ⋯ 0
12      0                                    ⋯ 0
13      0                                    ⋯ 0
14      0                                    ⋯ 0
15      0                                    ⋯ 0
16      0                                    ⋯ 0
17      0                                    ⋯ 0
18      0                                    ⋯ 0
19      0                                    ⋯ 0
20      0                                    ⋯ 0
21      0                                    ⋯ 0
22      0                                    ⋯ 0
23      0                                    ⋯ 0
24      0                                    ⋯ 0
25      0                                    ⋯ 0
26      0                                    ⋯ 0
27      0                                    ⋯ 0
28      0                                    ⋯ 0
29      0                                    ⋯ 0
30      0                                    ⋯ 0
⋮       ⋮                                    ⋱ ⋮
9933899 0                                    ⋯ 0
9933900 0                                    ⋯ 0
9933901 0                                    ⋯ 0
9933902 0                                    ⋯ 0
9933903 0                                    ⋯ 0
9933904 0                                    ⋯ 0
9933905 0                                    ⋯ 0
9933906 0                                    ⋯ 0
9933907 0                                    ⋯ 0
9933908 0                                    ⋯ 0
9933909 0                                    ⋯ 0
9933910 0                                    ⋯ 0
9933911 0                                    ⋯ 0
9933912 0                                    ⋯ 0
9933913 0                                    ⋯ 0
9933914 0                                    ⋯ 0
9933915 0                                    ⋯ 0
9933916 0                                    ⋯ 0
9933917 0                                    ⋯ 0
9933918 0                                    ⋯ 0
9933919 0                                    ⋯ 0
9933920 0                                    ⋯ 0
9933921 0                                    ⋯ 0
9933922 0                                    ⋯ 0
9933923 0                                    ⋯ 0
9933924 0                                    ⋯ 0
9933925 0                                    ⋯ 0
9933926 0                                    ⋯ 0
9933927 0                                    ⋯ 0
9933928 0                                    ⋯ 0
        Graphics_programming Machine_learning_specialist Mobile_developer
1       0                    0                           0
2       0                    0                           0
3       0                    0                           0
4       0                    0                           0
5       0                    0                           0
6       0                    0                           0
7       0                    0                           0
8       0                    0                           0
9       0                    0                           0
10      0                    0                           0
11      0                    0                           0
12      0                    0                           0
13      0                    0                           0
14      0                    0                           0
15      0                    0                           0
16      0                    0                           0
17      0                    0                           0
18      0                    0                           0
19      0                    0                           0
20      0                    0                           0
21      0                    0                           0
22      0                    0                           0
23      0                    0                           0
24      0                    0                           0
25      0                    0                           0
26      0                    0                           0
27      0                    0                           0
28      0                    0                           0
29      0                    0                           0
30      0                    0                           0
⋮       ⋮                    ⋮                           ⋮
9933899 0                    0                           1
9933900 0                    0                           1
9933901 0                    0                           1
9933902 0                    0                           1
9933903 0                    0                           1
9933904 0                    0                           1
9933905 0                    0                           1
9933906 0                    0                           1
9933907 0                    0                           1
9933908 0                    0                           1
9933909 0                    0                           1
9933910 0                    0                           1
9933911 0                    0                           1
9933912 0                    0                           1
9933913 0                    0                           1
9933914 0                    0                           1
9933915 0                    0                           1
9933916 0                    0                           1
9933917 0                    0                           1
9933918 0                    0                           1
9933919 0                    0                           1
9933920 0                    0                           1
9933921 0                    0                           1
9933922 0                    0                           1
9933923 0                    0                           1
9933924 0                    0                           1
9933925 0                    0                           1
9933926 0                    0                           1
9933927 0                    0                           1
9933928 0                    0                           1
        Quality_assurance_engineer Systems_administrator Web_developer
1       0                          0                     0
2       0                          0                     0
3       0                          0                     0
4       0                          0                     0
5       0                          0                     0
6       0                          0                     0
7       0                          0                     0
8       0                          0                     0
9       0                          0                     0
10      0                          0                     0
11      0                          0                     0
12      0                          0                     0
13      0                          0                     0
14      0                          0                     0
15      0                          0                     0
16      0                          0                     0
17      0                          0                     0
18      0                          0                     0
19      0                          0                     0
20      0                          0                     0
21      0                          0                     0
22      0                          0                     0
23      0                          0                     0
24      0                          0                     0
25      0                          0                     0
26      0                          0                     0
27      0                          0                     0
28      0                          0                     0
29      0                          0                     0
30      0                          0                     0
⋮       ⋮                          ⋮                     ⋮
9933899 0                          0                     1
9933900 0                          0                     1
9933901 0                          0                     1
9933902 0                          0                     1
9933903 0                          0                     1
9933904 0                          0                     1
9933905 0                          0                     1
9933906 0                          0                     1
9933907 0                          0                     1
9933908 0                          0                     1
9933909 0                          0                     1
9933910 0                          0                     1
9933911 0                          0                     1
9933912 0                          0                     1
9933913 0                          0                     1
9933914 0                          0                     1
9933915 0                          0                     1
9933916 0                          0                     1
9933917 0                          0                     1
9933918 0                          0                     1
9933919 0                          0                     1
9933920 0                          0                     1
9933921 0                          0                     1
9933922 0                          0                     1
9933923 0                          0                     1
9933924 0                          0                     1
9933925 0                          0                     1
9933926 0                          0                     1
9933927 0                          0                     1
9933928 0                          0                     1
        salaryearsratio Remote     CareerSatisfaction
1       1e+05           Remote      8
2       1e+05           Not remote  9
3       1e+05           Not remote  5
4       1e+05           Not remote  8
5       1e+05           Not remote  5
6       1e+05           Not remote  9
7       1e+05           Not remote 10
8       1e+05           Not remote  5
9       1e+05           Not remote  6
10      1e+05           Not remote  9
11      1e+05           Not remote  8
12      1e+05           Remote      7
13      1e+05           Not remote  7
14      1e+05           Not remote  8
15      1e+05           Not remote  3
16      1e+05           Not remote  6
17      1e+05           Not remote  8
18      1e+05           Not remote  6
19      1e+05           Not remote  0
20      1e+05           Not remote  6
21      1e+05           Not remote  7
22      1e+05           Not remote  8
23      1e+05           Not remote  9
24      1e+05           Not remote  7
25      1e+05           Remote      6
26      1e+05           Not remote 10
27      1e+05           Not remote  8
28      1e+05           Not remote  9
29      1e+05           Not remote  8
30      1e+05           Not remote  8
⋮       ⋮               ⋮          ⋮
9933899 40000           Not remote  7
9933900 40000           Not remote  7
9933901 40000           Not remote  6
9933902 40000           Not remote  8
9933903 40000           Not remote  7
9933904 40000           Not remote  7
9933905 40000           Not remote 10
9933906 40000           Remote      9
9933907 40000           Not remote 10
9933908 40000           Not remote  7
9933909 40000           Not remote  5
9933910 40000           Not remote  8
9933911 40000           Not remote  9
9933912 40000           Not remote  7
9933913 40000           Not remote  9
9933914 40000           Not remote 10
9933915 40000           Not remote  8
9933916 40000           Not remote 10
9933917 40000           Not remote  3
9933918 40000           Not remote 10
9933919 40000           Remote      8
9933920 40000           Not remote  8
9933921 40000           Not remote  7
9933922 40000           Not remote 10
9933923 40000           Not remote  8
9933924 40000           Not remote  7
9933925 40000           Not remote  7
9933926 40000           Not remote  7
9933927 40000           Not remote  6
9933928 40000           Not remote  6